.outer {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.repos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.manualSearch {
  background-color: inherit;
  color: black;
  border-radius: 0;
  border: 1px solid black;
  margin-bottom: 0;
}
