.outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  margin: 10px;
}

button {
  border-radius: 8px;
  border: 2px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #88d18a;
  cursor: pointer;
}

input {
  border: 2px solid black;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
}
