.outer {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  width: 100px;
  border-radius: 3rem;
}

.btn {
  background-color: #a833b9;
  color: white;
  border-radius: 20px;
}
.bio {
  text-align: center;
  width: 80%;
}
